
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/.qmake.stash
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/database.o
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/main.o
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/Makefile
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/MangaX
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/moc_database.cpp
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/moc_database.o
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/moc_predefs.h
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/qrc_qml.cpp
build-MangaX-Desktop_Qt_6_2_3_GCC_64bit-Debug/qrc_qml.o
